#formCrearCupos {
    height: 70vh;
}

#slctProfesional, #txtEspecialidad, #slctEstablecimiento, #txtFecha, #txtInicio, #txtFinal, #precioC, #selectImpuestos {
    background-color: #ccdded;
    border: none;
    color: #6b757d;
    padding: 7px;
}

.labelTitles {
    color: #0353a3
}

#btnCreateCupos {
    background-color: #0353A4
}

.input-error {
    background-color: #FFF4F4 !important;
    box-shadow: 0px 0px 5px red;
    border-color: red;
}
