@page
@model WebApp.Pages.MisCitasModel
@{
}
<script src="~/js/pages/miscitas.js"></script>
<h1>Mis Citas</h1>
<div id="misCitas" class="row"></div>

<form method="post" class="d-none">

 <button type="submit" class="btn mx-auto d-block w-50 text-light" style="background-color: #0353A4;">Pagar</button>

</form>