@page
@model WebApp.Pages.RegistroUsuarioModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIMEPCI</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/sede.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/signup.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/controlactions.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=SUKEYDEAPIAQUI8&callback=initMap"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/pages/RegistroUsuario.js"></script>
</head>

<div class="position-absolute" style="bottom: 2rem; right: 2rem; cursor: pointer;">
    <a asp-page="Index">
        <i class="bi bi-box-arrow-left" style="color: #0353A4; font-size: 2rem;"></i>
    </a>
</div>

<div class="w-100 h-100 d-flex justify-content-center align-items-center flex-column">
    <h2 class="text-white font-weight-light text-center">Bienvenido a SIMEPCI<br/>¡Estamos aquí para cuidarte!</h2>
    <div class="GeneralBox" id="SignUpContent">
        <div class="crumbs-container">
            <div class="crumb" id="crumb-1">1</div>
            <div class="crumb" id="crumb-2">2</div>
            <div class="crumb" id="crumb-3">3</div>
            <div class="crumb" id="crumb-4">4</div>
        </div>
        <form class="d-flex flex-column w-100" id="SignUpForm">
            <div class="d-flex w-100 align-items-center flex-column pantalla-registro" id="registro1">
                <div class="sign-up-column mt-3 d-flex">
                    <div class="d-flex align-items-center flex-column w-50">
                        <div class="input-sign-up-group p-2 d-none">
                            <label for="txtId">Id</label>
                            <input type="text" class="form-control" id="txtId" placeholder="Id">
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="identificacion" style="color:#0353a3">Identificación</label>
                            <input type="number" class="form-control" aria-label="Identificacion" id="identificacion" placeholder="Ingresa tu identificación" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="nombre" style="color:#0353a3">Nombre</label>
                            <input type="text" class="form-control" aria-label="Nombre" id="nombre" placeholder="Ingresa tu nombre" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="apellidoUno" style="color:#0353a3">Primer Apellido</label>
                            <input type="text" class="form-control" aria-label="Primer Apellido" id="apellidoUno" placeholder="Ingresa tu primer apellido" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="apellidoDos" style="color:#0353a3">Segundo Apellido</label>
                            <input type="text" class="form-control" aria-label="Segundo Apellido" id="apellidoDos" placeholder="Ingresa tu segundo apellido" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-column w-50">
                        <div class="input-sign-up-group p-2">
                            <label for="telefono" style="color:#0353a3">Número Telefónico</label>
                            <input type="tel" class="form-control" aria-label="Numero Telefonico" id="telefono" placeholder="Ingresa tu número telefónico" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="correo" style="color:#0353a3">Correo</label>
                            <input type="email" class="form-control" aria-label="Correo" id="correo" placeholder="Ingresa tu correo electrónico" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="sexo" style="color:#0353a3">Sexo</label>
                            <select id="sexo" aria-label="sexo" class="form-control" aria-describedby="basic-addon1" required>
                                <option value="">Elige el sexo</option>
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                            </select>
                        </div>
                        <div class="input-sign-up-group p-2">
                            <label for="fechaNacimiento" style="color:#0353a3">Fecha nacimiento</label>
                            <input type="date" class="form-control" placeholder="Fecha nacimiento" aria-label="Fecha nacimiento" id="fechaNacimiento" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="input-sign-up-group sign-up-column p-2">
                    <label for="fechaNacimiento" style="color:#0353a3">Foto de perfil</label>
                    <input type="file" class="form-control" aria-label="Foto perfil" id="fotoPerfil" aria-describedby="basic-addon1" accept="image/*">
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-sign-up-primary" onclick="moveToRegister2()">
                        Siguiente
                    </button>
                </div>
            </div>
            <div class="d-flex w-100 align-items-center flex-column pantalla-registro" id="registro2">
                <div class="sign-up-column mt-3">
                    <div class="form-group d-flex align-items-center flex-column">
                        <label for="map" style="color:#0353a3">Selecciona tu ubicación en el mapa</label>
                        <div id="map" style="height: 288px; width: 98%; border-radius:10px"></div>
                    </div>
                    <div class="d-flex">
                        <div class="input-sign-up-group p-2 w-50">
                            <label for="txtLatitud" style="color:#0353a3">Latitud</label>
                            <input type="number" step="any" class="form-control" aria-label="Latitud" id="txtLatitud" placeholder="Selecciona tu latitud" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-sign-up-group p-2 w-50">
                            <label for="txtLongitud" style="color:#0353a3">Longitud</label>
                            <input type="number" step="any" class="form-control" aria-label="Longitud" id="txtLongitud" placeholder="Selecciona tu longitud" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-sign-up-secondary" onclick="showRegister1()">
                        Regresar
                    </button>
                    <button type="button" class="btn btn-sign-up-primary" onclick="moveToRegister3()">
                        Siguiente
                    </button>
                </div>
            </div>
            <div class="d-flex w-100 align-items-center flex-column pantalla-registro mt-3" id="registro3">
                <div class="align-items-center tipo-container">
                    <label for="tipo" class="text-center" style="color:#0353a3; width:100%;">Tipo de usuario</label>
                    <div class="d-flex justify-content-around w-100 mt-3" id="tipo" data-tipo="">
                        <div class="tipo-btn tipo-btn-js tipo-paciente" data-tipo="Paciente">
                            <svg width="34" height="40" viewBox="0 0 34 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26 10C26 14.9706 21.9705 19 17 19C12.0294 19 8 14.9706 8 10C8 5.02943 12.0294 1 17 1C21.9705 1 26 5.02943 26 10Z" stroke="#0353A4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M17 23C8.16345 23 1 30.1634 1 39H33C33 30.1634 25.8366 23 17 23Z" stroke="#0353A4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="tipo-btn tipo-btn-js tipo-doctor" data-tipo="Doctor">
                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.889 16.8055C22.9565 16.8055 26.2501 13.5119 26.2501 9.44448C26.2501 5.37698 22.9565 2.08333 18.889 2.08333C14.8216 2.08333 11.5279 5.37698 11.5279 9.44448C11.5279 13.5119 14.8216 16.8055 18.889 16.8055ZM28.3334 9.44448C28.3334 14.6625 24.107 18.8889 18.889 18.8889C13.6709 18.8889 9.44458 14.6625 9.44458 9.44448C9.44458 4.22635 13.6709 0 18.889 0C24.107 0 28.3334 4.22635 28.3334 9.44448Z" fill="#0353A4" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6306 22.5294C12.3928 22.0421 11.8556 21.7787 11.3319 21.9075C5.7026 23.2908 0 26.1116 0 30.3549V35.4167V37.5H2.08333H35.4167H37.5V35.4167V30.3549C37.5 26.1116 31.7974 23.2908 26.1681 21.9075C25.6444 21.7787 25.1072 22.0421 24.8694 22.5294H20.6359C19.7102 22.5296 19.2389 22.5296 18.7758 22.5296C18.2955 22.5295 17.8242 22.5295 16.8639 22.5297L12.6306 22.5294ZM20.6364 24.6127C19.7048 24.6129 19.2354 24.6129 18.775 24.6129C18.2977 24.6128 17.8294 24.6128 16.8644 24.613L12.6304 24.6127L11.329 24.6126L11.0892 24.1212C8.6701 24.7738 6.38833 25.6823 4.70437 26.7962C2.80481 28.0528 2.08333 29.2703 2.08333 30.3549V35.4167H35.4167V30.3549C35.4167 29.2703 34.6952 28.0528 32.7956 26.7962C31.1117 25.6823 28.8299 24.7738 26.4108 24.1212L26.171 24.6127H24.8694H20.6364Z" fill="#0353A4" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4167 30.1082C10.9776 30.1082 11.4584 29.646 11.4584 29.0434C11.4584 28.4408 10.9776 27.9786 10.4167 27.9786C9.85591 27.9786 9.37508 28.4408 9.37508 29.0434C9.37508 29.646 9.85591 30.1082 10.4167 30.1082ZM10.4167 32.1915C12.1427 32.1915 13.5417 30.782 13.5417 29.0434C13.5417 27.3047 12.1427 25.8953 10.4167 25.8953C8.69081 25.8953 7.29175 27.3047 7.29175 29.0434C7.29175 30.782 8.69081 32.1915 10.4167 32.1915Z" fill="#0353A4" />
                                <path d="M10.0368 23.5539C9.81013 24.3189 9.83231 25.2605 10.3021 26.4173L8.3719 27.2012C7.90982 26.0634 7.73877 24.9754 7.84294 23.9583C7.87773 23.618 7.94346 23.2856 8.0393 22.962L10.0368 23.5539Z" fill="#0353A4" />
                                <path d="M27.6405 26.5584L29.6626 27.0601C29.9236 26.0083 29.9781 25.0197 29.8438 24.1037L27.512 23.415C27.8574 24.2542 27.9562 25.2862 27.6405 26.5584Z" fill="#0353A4" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4862 26.276C26.6721 26.1244 26.9046 26.0416 27.1445 26.0416H30.147C30.3869 26.0416 30.6194 26.1244 30.8053 26.276L32.9499 28.025C33.1925 28.2229 33.3333 28.5192 33.3333 28.8323V33.3795C33.3333 33.9549 32.8669 34.4212 32.2916 34.4212H30.147V32.3379H31.2499V29.3269L29.7761 28.125H27.5154L26.0416 29.3269V32.3379H27.1445V34.4212H24.9999C24.4246 34.4212 23.9583 33.9549 23.9583 33.3795V28.8323C23.9583 28.5192 24.099 28.2229 24.3416 28.025L26.4862 26.276Z" fill="#0353A4" />
                            </svg>
                        </div>
                        <div class="tipo-btn tipo-btn-js tipo-enfermera" data-tipo="Enfermero">
                            <svg width="38" height="41" viewBox="0 0 38 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.6306 25.6126C12.3928 25.1253 11.8556 24.862 11.3319 24.9907C5.7026 26.3741 0 29.1948 0 33.4381V38.4999V40.5832H2.08333H35.4167H37.5V38.4999V33.4381C37.5 29.1948 31.7974 26.3741 26.1681 24.9907C25.6444 24.862 25.1072 25.1253 24.8694 25.6126H20.6359C19.7102 25.6128 19.2389 25.6128 18.7758 25.6128C18.2955 25.6127 17.8242 25.6127 16.8639 25.6129L12.6306 25.6126ZM20.6364 27.696C20.6361 27.696 20.6365 27.696 20.6364 27.696C19.7048 27.6962 19.2354 27.6962 18.775 27.6962C18.2977 27.6961 17.8294 27.6961 16.8644 27.6963L12.6304 27.696L11.329 27.6958L11.0892 27.2045C8.6701 27.8571 6.38833 28.7655 4.70437 29.8795C2.80481 31.1361 2.08333 32.3536 2.08333 33.4381V38.4999H35.4167V33.4381C35.4167 32.3536 34.6952 31.1361 32.7956 29.8795C31.1117 28.7655 28.8299 27.8571 26.4108 27.2045L26.171 27.696H24.8694H20.6364Z" fill="#0353A4" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.4167 33.1914C10.9776 33.1914 11.4584 32.7292 11.4584 32.1266C11.4584 31.524 10.9776 31.0619 10.4167 31.0619C9.85591 31.0619 9.37508 31.524 9.37508 32.1266C9.37508 32.7292 9.85591 33.1914 10.4167 33.1914ZM10.4167 35.2748C12.1427 35.2748 13.5417 33.8653 13.5417 32.1266C13.5417 30.388 12.1427 28.9785 10.4167 28.9785C8.69081 28.9785 7.29175 30.388 7.29175 32.1266C7.29175 33.8653 8.69081 35.2748 10.4167 35.2748Z" fill="#0353A4" />
                                <path d="M10.0368 26.6372C9.81013 27.4022 9.83231 28.3437 10.3021 29.5006L8.3719 30.2845C7.90982 29.1466 7.73877 28.0586 7.84294 27.0415C7.87773 26.7012 7.94346 26.3688 8.0393 26.0453L10.0368 26.6372Z" fill="#0353A4" />
                                <path d="M27.6405 29.6416L29.6626 30.1434C29.9236 29.0915 29.9781 28.103 29.8438 27.1869L27.512 26.4983C27.8574 27.3375 27.9562 28.3694 27.6405 29.6416Z" fill="#0353A4" />
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M26.4862 29.3594C26.6721 29.2078 26.9046 29.125 27.1445 29.125H30.147C30.3869 29.125 30.6194 29.2078 30.8053 29.3594L32.9499 31.1083C33.1925 31.3062 33.3333 31.6026 33.3333 31.9156V36.4629C33.3333 37.0382 32.8669 37.5046 32.2916 37.5046H30.147V35.4212H31.2499V32.4103L29.7761 31.2083H27.5154L26.0416 32.4103V35.4212H27.1445V37.5046H24.9999C24.4246 37.5046 23.9583 37.0382 23.9583 36.4629V31.9156C23.9583 31.6026 24.099 31.3062 24.3416 31.1083L26.4862 29.3594Z" fill="#0353A4" />
                                <path d="M6.25 16.8192C6.25 21.6392 14.9513 22.875 14.9513 22.875C14.9513 22.875 8.99146 13.6059 11.9714 11.9993C14.9513 10.3926 23.0566 7.30292 23.6526 8.41521C29.1355 16.3249 22.103 22.875 22.103 22.875C22.103 22.875 30.2083 22.1334 30.2083 16.8192C30.2083 11.5049 26.3941 5.07838 26.3941 5.07838C26.3941 5.07838 23.6526 1 18.2887 1C12.925 1 11.0178 5.07838 11.0178 5.07838C11.0178 5.07838 6.25 11.9993 6.25 16.8192Z" stroke="#0353A4" stroke-width="2" />
                            </svg>
                        </div>
                        <div class="tipo-btn tipo-btn-js tipo-secretaria" data-tipo="Secretario">
                            <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M42.0153 40.6866H40.228V34.9813C40.228 34.8237 40.1646 34.6714 40.0494 34.5521L38.1885 32.6256C38.049 32.4811 37.846 32.3981 37.6326 32.3981H34.4275C32.098 30.223 29.0838 30.2167 28.9622 30.2167H25.2826V28.2261C25.2826 28.1915 25.2787 28.1576 25.2729 28.1243C27.629 27.254 29.1181 25.802 30.0248 24.5433C30.6413 23.6874 31.0495 22.8456 31.315 22.1619C31.9478 23.1852 32.7896 23.9085 33.8338 24.3218C34.5491 24.6049 35.2844 24.7104 35.9833 24.7104C37.9723 24.7103 39.6664 23.8559 39.7614 23.8071C40.0707 23.6483 40.2116 23.313 40.0901 23.0133C39.9685 22.7135 39.6275 22.5339 39.2763 22.5898C39.2423 22.5944 38.4399 22.6957 37.861 22.1232C36.6668 20.9419 37.2828 18.0017 37.7563 16.3542C39.4356 10.5116 38.9366 5.10442 36.4541 2.24268C35.1816 0.775435 33.4212 0 31.3634 0C29.0799 0 27.3369 0.550404 26.1829 1.63607C25.3687 2.40204 25.0293 3.27537 24.889 3.91658C23.8301 3.64312 22.666 3.5032 21.3977 3.5032C16.1358 3.5032 13.5723 5.9795 12.3485 8.05696C11.0448 10.2697 10.9747 12.459 10.9723 12.5511C10.9722 12.5576 10.972 12.564 10.9721 12.5705C10.9721 12.5719 10.9721 12.5731 10.9721 12.5745V14.7067C10.5005 14.7361 9.91518 14.8461 9.45272 15.1683C9.03521 15.4592 8.78468 15.8747 8.72817 16.3699C8.65403 17.0204 8.5937 18.6446 9.63361 19.6739C9.99403 20.0306 10.449 20.2697 10.9721 20.3819V20.5191C10.9721 20.5506 10.9747 20.5821 10.9798 20.6133C10.9926 20.6927 11.3115 22.5811 12.725 24.5433C13.6318 25.802 15.1208 27.2539 17.4769 28.1243C17.4711 28.1576 17.4672 28.1915 17.4672 28.2261V30.2167H13.7928C13.6725 30.2158 10.7695 30.2212 8.45904 32.2721C6.6463 33.8812 5.72714 36.2595 5.72714 39.3411V40.6866H0.734538C0.328877 40.6866 0 40.9805 0 41.3433C0 41.706 0.328877 42 0.734538 42H42.0153C42.4209 42 42.7498 41.706 42.7498 41.3433C42.7498 40.9805 42.4209 40.6866 42.0153 40.6866ZM36.7023 33.7115V34.8597C36.7023 35.2225 37.0312 35.5164 37.4369 35.5164H38.759V40.6866H29.259V33.7115H36.7023ZM25.1739 33.4578L24.1718 34.0054C24.1072 34.0407 24.0492 34.0846 23.9996 34.1358L23.4783 34.674L22.1764 34.2944C23.417 34.062 24.4423 33.3018 24.9458 32.2897L25.1739 33.4578ZM17.8668 32.4125C18.3981 33.3777 19.4132 34.0928 20.6274 34.304L19.3582 34.6741L18.8369 34.1359C18.7873 34.0847 18.7292 34.0408 18.6647 34.0055L17.6627 33.4579L17.8668 32.4125ZM27.2622 2.52726C28.1289 1.72179 29.5087 1.31341 31.3634 1.31341C32.973 1.31341 34.2953 1.89682 35.2934 3.04754C37.5037 5.59572 37.9024 10.5692 36.3336 16.0273C35.3553 19.431 35.511 21.7865 36.7964 23.0284C36.8963 23.125 36.9995 23.2112 37.1044 23.2883C36.2825 23.4402 35.3102 23.4719 34.422 23.1183C33.1469 22.6106 32.2579 21.3864 31.7777 19.4814V12.5746C31.7781 12.3876 31.7467 8.59265 28.7971 5.94736C28.0708 5.29609 27.2328 4.77589 26.2913 4.38406C26.3588 3.93137 26.5752 3.16575 27.2622 2.52726ZM13.6482 8.669C15.1543 6.11276 17.7615 4.81661 21.3977 4.81661C22.852 4.81661 24.1383 5.01616 25.2539 5.41123C25.2626 5.41438 25.2712 5.41762 25.2802 5.42042C26.9854 6.03063 28.2883 7.10115 29.1716 8.62601C29.7978 9.70677 30.0791 10.8028 30.2056 11.5647C27.5749 10.3943 26.8436 8.27901 26.8111 8.18103C26.7377 7.95311 26.5327 7.77834 26.2746 7.7237C26.0166 7.66933 25.7457 7.74305 25.5656 7.91712C21.3936 11.9551 14.6874 12.046 12.5045 11.9582C12.6114 11.2253 12.8961 9.94546 13.6482 8.669ZM10.7238 18.7936C10.1968 18.2719 10.1022 17.2684 10.1896 16.5032C10.2095 16.3287 10.2839 16.2547 10.3541 16.2054C10.5028 16.101 10.7387 16.0483 10.972 16.0258V18.9792C10.8821 18.9291 10.7993 18.8683 10.7238 18.7936ZM13.9893 23.8726C12.84 22.2956 12.4941 20.7342 12.4411 20.4653V13.2733C13.3828 13.3142 15.0502 13.3222 17.0164 13.0507C20.5822 12.5582 23.6135 11.3404 25.8562 9.50897C26.4647 10.5474 27.7715 12.1642 30.3086 13.039V19.5638C30.3086 19.5649 30.3086 19.5661 30.3086 19.5672V20.4663C30.2568 20.7342 29.9232 22.2587 28.7898 23.8322C27.144 26.1168 24.6725 27.3727 21.4431 27.565H21.3066C18.0974 27.3737 15.6355 26.1315 13.9893 23.8726ZM21.2351 28.877C21.2509 28.8779 21.2667 28.8784 21.2826 28.8784H21.4673C21.4832 28.8784 21.499 28.8779 21.5148 28.877C22.3472 28.8287 23.1111 28.7166 23.8137 28.5558V30.8583C23.8136 30.8639 23.8127 30.8695 23.8127 30.8752C23.8127 32.0773 22.719 33.0553 21.3745 33.0553C20.0301 33.0553 18.9363 32.0773 18.9363 30.8752C18.9363 30.8748 18.9363 30.8746 18.9363 30.8746C18.9363 30.874 18.9363 30.8736 18.9363 30.8736V28.5557C19.6388 28.7166 20.4026 28.8287 21.2351 28.877ZM7.19612 39.3411C7.19612 31.6202 13.5158 31.5302 13.7875 31.5301H16.5478L16.1295 33.6721C16.0776 33.9378 16.2126 34.2048 16.47 34.3455L17.8011 35.0729L18.567 35.8635C18.709 36.0101 18.9128 36.0903 19.1223 36.0903C19.1983 36.0903 19.2752 36.0798 19.3499 36.058L21.4182 35.4549L23.4866 36.058C23.5614 36.0798 23.6382 36.0903 23.7142 36.0903C23.9237 36.0903 24.1276 36.0101 24.2696 35.8635L25.0355 35.0729L26.3666 34.3455C26.6239 34.2048 26.7589 33.9379 26.7071 33.6721L26.2889 31.5301H28.9677C28.9677 31.5301 28.9682 31.5301 28.9686 31.5301C29.0153 31.5301 30.5414 31.5411 32.1066 32.3981H28.5246C28.1189 32.3981 27.79 32.6921 27.79 33.0548V40.6866H7.19612V39.3411Z" fill="#0353A4" />
                                <path d="M31.9521 37.3013H35.7717C36.1773 37.3013 36.5062 37.0074 36.5062 36.6446C36.5062 36.2819 36.1773 35.9879 35.7717 35.9879H31.9521C31.5464 35.9879 31.2175 36.2819 31.2175 36.6446C31.2175 37.0073 31.5463 37.3013 31.9521 37.3013Z" fill="#0353A4" />
                                <path d="M31.9521 39.4907H35.7717C36.1773 39.4907 36.5062 39.1967 36.5062 38.8339C36.5062 38.4712 36.1773 38.1772 35.7717 38.1772H31.9521C31.5464 38.1772 31.2175 38.4712 31.2175 38.8339C31.2175 39.1967 31.5463 39.4907 31.9521 39.4907Z" fill="#0353A4" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="input-sign-up-group sign-up-column p-2" id="contenedor-especialidad" style="display: none;">
                    <label for="especialidad" style="color:#0353a3">Especialidad</label>
                    <input type="text" class="form-control" aria-label="Especialidad" id="especialidad" placeholder="Ingresa tu especialidad médica" aria-describedby="basic-addon1">
                </div>
                <div class="input-sign-up-group sign-up-column p-2">
                    <label for="idSede" style="color:#0353a3">Sede</label>
                    <select id="idSede" aria-label="Sede" class="form-control" style="color:" aria-describedby="basic-addon1" required>
                        <option value="">Selecciona tu sede de preferencia</option>
                    </select>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-sign-up-secondary" onclick="showRegister2()">
                        Regresar
                    </button>
                    <button type="button" class="btn btn-sign-up-primary" onclick="moveToRegister4()">
                        Siguiente
                    </button>
                </div>
            </div>
            <div class="d-flex w-100 align-items-center flex-column pantalla-registro" id="registro4">
                <div class="d-flex mt-3">
                    <svg width="79" height="99" viewBox="0 0 79 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M39.5 75.3333C43.8197 75.3333 47.3214 71.8635 47.3214 67.5833C47.3214 63.3031 43.8197 59.8333 39.5 59.8333C35.1803 59.8333 31.6786 63.3031 31.6786 67.5833C31.6786 71.8635 35.1803 75.3333 39.5 75.3333ZM39.5 75.3333V85.6667M3 49.5H76V88.25C76 92.5302 72.4982 96 68.1786 96H10.8214C6.50177 96 3 92.5302 3 88.25V49.5ZM39.5 3C51.0191 3 60.3571 12.2528 60.3571 23.6667V49.5H18.6429V23.6667C18.6429 12.2528 27.9809 3 39.5 3Z" stroke="#0353A4" stroke-width="5" stroke-linecap="round" />
                    </svg>
                </div>
                <div class="sign-up-column">
                    <div class="input-sign-up-group p-2">
                        <label for="contrasenna" style="color:#0353a3">Contraseña</label>
                        <input type="password" class="form-control" aria-label="Contraseña" id="contrasenna" placeholder="Ingresa tu contraseña" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-sign-up-group p-2">
                        <label for="confirmarContrasenna" style="color:#0353a3">Confirmar contraseña</label>
                        <input type="password" class="form-control" aria-label="Confirmar contraseña" id="confirmarContrasenna" placeholder="Repite tu contraseña" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="mt-3">
                    <button type="button" class="btn btn-sign-up-secondary" onclick="showRegister3()">
                        Regresar
                    </button>
                    <button type="button" class="btn btn-sign-up-primary" id="btnCreate">
                        Registrar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
