@page
@model WebApp.Pages.ReporteFinancieroModel
@{
}

<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
<link href="~/css/ReporteFinanciero.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
<script src="~/js/pages/ReporteFinanciero.js"></script>


<h1>Reportes financieros</h1>

<body class="bodyReporte">
    <div class="card-body col-lg-12" id="reportes-container">
        
    </div>
</body>